	</td>
  </tr>
</table>
<link href="../cOmmOns/estilo/admin.css" rel="stylesheet" type="text/css" />

<table cellSpacing="0" cellPadding="0" width="930" border="0">
  <!--DWLayoutTable-->
<tr bgcolor="#EFEDED">
	<td width="120" height="32">&nbsp;</td>
	<td width="320"  style="font-size:11px;">{if $stCONTENIDO}Usuario activo: <strong>{$stUSUARIO_ACTIVO}</strong>{/if}</td>
	<td style="font-size:11px;"><img src="{$stRUTAS.images}flechita.gif" border="0"> <a href="{$stRUTAS.admin}principios.php" class="tmDataLink">Principios</a></td>
	<td style="font-size:11px;"><img src="{$stRUTAS.images}flechita.gif" border="0"> <a href="{$stRUTAS.admin}objetivos.php" class="tmDataLink">Objetivos</a></td>
	<td style="font-size:11px;"><img src="{$stRUTAS.images}flechita.gif" border="0"> <a href="{$stRUTAS.admin}sistema.php" class="tmDataLink">Sistema</a></td>
	<td width="129">&nbsp;</td>
	<td align="right">
		<a href="http://www.icox.com/" target="_blank"><img src="{$stRUTAS.images}logo_icox.gif" border="0"></a>	</td>
</tr>
</table>
<map name="mapa_overlay"><area shape="rect" coords="0,0,250,110" href="javascript:activarOverlay();"/></map>
<!--<map name="mapa_overlay"><area shape="rect" coords="9,31,237,48" href="javascript:activarOverlay();"/></map>-->
</div>
</center>
</body>
</html>