{include file="encabezado.tpl.html"}
{literal}
<style type="text/css">
	.td_periodo_on{
		cursor: pointer;
		text-decoration: underline;
		color: #757575;
	}
	.td_periodo_off{
		text-decoration: none;
		color: #31414E;
	}
	.tdValBorde{
		border-bottom: 1px solid #CCCCCC;
		padding: 10px;
	}
</style>
<script language="javascript" type="text/javascript">
	function submitMasInfo(periodo)
	{
		document.getElementById('periodo').value = periodo;
		document.forms[0].submit();
	}
</script>
{/literal}
<form action="{$stACTION}" method="POST" enctype="multipart/form-data">
<table cellpadding="2" cellspacing="0" class="tmFormTABLE" width="600" style="margin-top:5px;">
	<tr><td height="5"></td></tr>
	<tr>
    <td class="tmFormHeaderFont" colspan="2" align="center">Detalle del valor {$stNOMBRE} [{$stSIGLA}]</td>
  </tr>
  <tr><td height="10"></td></tr>
  <tr>
  	<td>
  		<table cellpadding="0" cellspacing="0" border="0">
  		<tr>
  			<td width="55">Per&iacute;odo:</td>
  			<td width="33" align="center" {if $stPERIODO=='1d'}class="td_periodo_off"{else}class="td_periodo_on" onclick="submitMasInfo('1d');"{/if}>
  				1 d&iacute;a
  			</td><td width="10"></td>
  			<td width="38" align="center" {if $stPERIODO=='5d'}class="td_periodo_off"{else}class="td_periodo_on" onclick="submitMasInfo('5d');"{/if}>
  				5 d&iacute;as
  			</td><td width="10"></td>
  			<td width="40" align="center" {if $stPERIODO=='1m'}class="td_periodo_off"{else}class="td_periodo_on" onclick="submitMasInfo('1m');"{/if}>
  				1 mes
  			</td><td width="10"></td>
  			<td width="53" align="center" {if $stPERIODO=='3m'}class="td_periodo_off"{else}class="td_periodo_on" onclick="submitMasInfo('3m');"{/if}>
  				3 meses
  			</td><td width="10"></td>
  			<td width="53" align="center" {if $stPERIODO=='6m'}class="td_periodo_off"{else}class="td_periodo_on" onclick="submitMasInfo('6m');"{/if}>
  				6 meses
  			</td><td width="10"></td>
  			<td width="35" align="center" {if $stPERIODO=='1y'}class="td_periodo_off"{else}class="td_periodo_on" onclick="submitMasInfo('1y');"{/if}>
  				1 a&ntilde;o
  			</td>
  		</tr>
  		</table>
  	</td>
  </tr>
  <tr><td height="5"></td></tr>
  <tr>
    <td style="height:280px;background-color:#EFEDED;" align="center" valign="middle">
    	<img src="http://cchart.yahoo.com/z?s={$stSIGLA}&a=v&p=s&t={$stPERIODO}&l=off&z=m&q=l&i=ar" border="0" alt="Imagen no disponible">
    </td>
  </tr>
  <tr><td height="10"></td></tr>
  <tr>
  	<td align="center" width="100%">
  		{if $stDATOSTABLA}
  			<table cellpadding="0" cellspacing="0" width="100%">
  				<tr>
  					<td class="tdValBorde" width="30%">&Uacute;ltima cotizaci&oacute;n:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].ultima}</strong></td>
  					<td class="tdValBorde" width="30%">Rango del d&iacute;a:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].rango_dia}</strong></td>
  				</tr>
  				<tr>
  					<td class="tdValBorde">Fecha de cotizaci&oacute;n:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].ult_fecha|date_format:"%d/%m/%Y"}</strong></td>
  					<td class="tdValBorde">Rango 52s:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].variacion}</strong></td>
  				</tr>
  				<tr>
  					<td class="tdValBorde">Variaci&oacute;n:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].cambio}</strong></td>
  					<td class="tdValBorde">Volumen:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].volumen|number_format:0:"":"."}</strong></td>
  				</tr>
  				<tr>
  					<td class="tdValBorde">Cierre anterior:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].cierre_ant}</strong></td>
  					<td class="tdValBorde">Vol. promedio (3m):</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].vol_promedio|number_format:0:"":"."}</strong></td>
  				</tr>
  				<tr>
  					<td class="tdValBorde">Precio apertura:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].apertura}</strong></td>
  					<td class="tdValBorde">Cap. del mercado:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].capitalizacion}</strong></td>
  				</tr>
  				<tr>
  					<td class="tdValBorde">Oferta:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].oferta}</strong></td>
  					<td class="tdValBorde">P/G (ttm):</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].pg}</strong></td>
  				</tr>
  				<tr>
  					<td class="tdValBorde">Precio de venta:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].precio_venta}</strong></td>
  					<td class="tdValBorde">BPA (ttm):</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].ganaccion}</strong></td>
  				</tr>
  				<tr>
  					<td class="tdValBorde">Objetivo est 1a:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].obj_est1a}</strong></td>
  					<td class="tdValBorde">Dividendos y rendimientos:</td><td class="tdValBorde"><strong>{$stDATOSTABLA[$stSIGLA].rendim}</strong></td>
  				</tr>
  			</table>
		  {else}
				Datos no disponibles
		  {/if}
  	</td>
  </tr>
   <tr>
    <td colspan="2" align="right">
      <input name="btn_volver" type="button" value="Volver" class="tmButton" onclick="location.href='cmp.listar.php';">
      <input type="hidden" name="Id" id="Id" value="{$stID}">
      <input type="hidden" name="periodo" id="periodo" value="{$stPERIODO}">
    </td>
  </tr>
</table>
</form>
{include file="pie.tpl.html"}