{include file="encabezado.tpl.html"}
<script language="javascript" type="text/javascript" src="{$stRUTAS.jscript}yui/yahoo/yahoo-min.js"></script>
<script language="javascript" type="text/javascript" src="{$stRUTAS.jscript}yui/connection/connection-min.js"></script>
<script language="javascript" type="text/javascript" src="{$stRUTAS.jscript}valida_numeros.js"></script>
<script language="javascript" type="text/javascript" src="{$stRUTAS.jscript}compra_venta.js"></script>
<script language="javascript" type="text/javascript">
{literal}
function verDetalle(id){
	var volver = document.getElementById('ruta_accion_actual').value;
	var ruta = document.getElementById('ruta_valores').value;
	document.location = ruta+'val.modificar.php?Id='+id+'&ruta_volver='+escape(volver)+'ren.listar.php';
}
/**/
function setTextLetra(letra){
	document.getElementById('stext').value = letra;
	document.getElementById('sselect').selectedIndex = 0;
	document.getElementById('frm_ren_listar').submit();
}
{/literal}
</script>

<table border="0" cellspacing="0" cellpadding="0" width="818">
<tr><td height="5"></td></tr>
<tr>
  	<td>
  	<form method="POST" id="frm_ren_listar" action="ren.listar.php" name="frmBusqueda">
		<table cellpadding="0" cellspacing="0" border="0" width="810">
			<tr>
			<td class="tmFormHeaderFont"><img src='{$stRUTAS.images}analisisderentabilidad.gif' border='0'/></td>
			{if $stUSUARIOS_DB}
				<td align="right">Usuario</td>
				<td align="right" width="205"><select name="usuario_db" class="tmSelect" style="width:200px;">{$stUSUARIOS_DB}</select></td>
			{/if}
			<td align="right">
				<select name="sselect" id="sselect" class="tmSelect">
					<option value="valSigla" {if $stSELECT=='valSigla'}selected{/if}>Sigla</option>
					<option value="espNombre" {if $stSELECT=='espNombre'}selected{/if}>Especie</option>
					<option value="valNombre" {if $stSELECT=='valNombre'}selected{/if}>Empresa</option>
					<option value="paiNombre" {if $stSELECT=='paiNombre'}selected{/if}>Pa&iacute;s</option>
					<option value="secNombre" {if $stSELECT=='secNombre'}selected{/if}>Sector</option>
					<option value="monNombre" {if $stSELECT=='monNombre'}selected{/if}>Moneda</option>
				</select>
			</td>
			<td align="right" width="135"><input type="text" id="stext" class="tmInput" name="stext" value="{$stSTEXT}"/></td>
			<td align="right" width="63"><input name="btnBuscar" type="submit" value="Buscar" class="tmButton" style="height:20px;"></td>
			</tr>
			<tr>
				<td colspan="6" align="right" style="border-bottom:1px solid #EFEDED;">
					<table cellpadding="0" cellspacing="10" border="0">
						<tr>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('A');">A</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('B');">B</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('C');">C</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('D');">D</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('E');">E</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('F');">F</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('G');">G</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('H');">H</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('I');">I</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('J');">J</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('K');">K</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('L');">L</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('M');">M</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('N');">N</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('O');">O</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('P');">P</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('Q');">Q</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('R');">R</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('S');">S</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('T');">T</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('U');">U</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('V');">V</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('W');">W</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('X');">X</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('Y');">Y</td>
							<td style="cursor:pointer;text-decoration:underline;" onclick="setTextLetra('Z');">Z</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</form>
  	</td>
  </tr>
  <tr><td height="5"></td></tr>
  <tr><td>
<table cellpadding="2" cellspacing="0" class="tmFormTABLE">
	<tr>
		<td class="bordetab">&nbsp;</td>
		<td class="bordetab">&nbsp;</td>
		<td class="bordetab" colspan="3" align="center" style="border-right:1px solid #8396A5;">Datos t&eacute;cnicos</td>
		<td class="bordetab" colspan="3" align="center" style="border-right:1px solid #8396A5;">Datos compra</td>
		<td class="bordetab" style="border-right:1px solid #8396A5;" align="right">Cotiz.</td>
		<td class="bordetab" style="border-right:1px solid #8396A5;" align="right">Util.</td>
		<td class="bordetab" colspan="4" align="center" style="border-right:1px solid #8396A5;">Rentabilidad</td>
		<td class="bordetab" colspan="3" align="center">Proyecci&oacute;n</td>
		<td class="bordetab" colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td class="bordetab1" width="20" align="center" style="border-right:1px solid #8396A5;">I</td>
		<td class="bordetab1" width="20" align="center" style="border-right:1px solid #8396A5;">Prd.</td>
		<td class="bordetab1" width="60" style="border-right:1px solid #8396A5;">
			<a href="{$stRUTAS.ren}ren.listar.php?orden=sigla&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">Sigla</a>
		</td>
		<td class="bordetab1" width="15" style="border-right:1px solid #8396A5;" align="center">
			<a href="{$stRUTAS.ren}ren.listar.php?orden=moneda&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">M.</a>
		</td>
		<td class="bordetab1" width="35" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?orden=mercado&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">MER.</a>
		</td>
		<td class="bordetab1" width="56" style="border-right:1px solid #8396A5;" align="center">
			<a href="{$stRUTAS.ren}ren.listar.php?orden=fcompra&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">Fecha</a>
		</td>
		<td class="bordetab1" width="35" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?orden=pcompra&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">Precio</a>
		</td>
		<td class="bordetab1" width="30" style="border-right:1px solid #8396A5;" align="center">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=Edad&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">Edad</a>
		</td>
		<td class="bordetab1" width="45" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?orden=precio&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">Precio</a>
		</td>
		<td class="bordetab1" width="40" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=Utilidad&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">%</a>
		</td>
		<td class="bordetab1" width="50" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=Mala&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">M.</a>
		</td>
		<td class="bordetab1" width="40" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=Buena&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">B.</a>
		</td>
		<td class="bordetab1" width="40" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=MBuena&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">M.B.</a>
		</td>
		<td class="bordetab1" width="40" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=Excelente&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">Exc.</a>
		</td>
		<td class="bordetab1" width="40" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=Diaria&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">D.</a>
		</td>
		<td class="bordetab1" width="40" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=Mensual&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">M.</a>
		</td>
		<td class="bordetab1" width="50" style="border-right:1px solid #8396A5;" align="right">
			<a href="{$stRUTAS.ren}ren.listar.php?fly_ord=Anual&sentido={$stSNT}&stext={$stSTEXT}&sselect={$stSELECT}" class="tmDataLinke">A.</a>
		</td>
		<td class="bordetab1" width="25">&nbsp;</td>
		<td class="bordetab1" width="20">&nbsp;</td>
	</tr>
</table>
<div class="div_contenido_cuerpo">
<table cellpadding="2" cellspacing="0" class="tmFormTABLE" style="border-top:0px;">
{foreach from=$stVALORES key=id item=valor}
	<tr onmouseover="this.bgColor='#EFEFE7';" onMouseOut="this.bgColor='#FFFFFF';">
		<td class='tmDataTD' width="19">
			<a href='{$stRUTAS.ren}ren.mas_info.php?Id={$valor.Cod}'>
				<img src='{$stRUTAS.images}informacion.gif' title='M&aacute;s informaci&oacute;n' border='0'/>
			</a>
		</td>
		<td class='tmDataTD' width="21" align="center">
			<a href='http://ar.babelfish.yahoo.com/translate_url?doit=done&tt=url&intl=1&fr=bf-home&trurl=http%3A//finance.yahoo.com/q/pr?s={$valor.Sigla}&lp=en_es&btnTrUrl=Traducir' target="_blank">
				<img src='{$stRUTAS.images}informacion_.gif' title='Perfil' border='0'/>
			</a>
		</td>
		<td class='tmDataTD' width="59" style="font-size:11px;cursor:pointer;" id="sigla_{$valor.Id}" onclick="verDetalle({$valor.Cod});">{$valor.Sigla}</td>
		<td class='tmDataTD' width="14" align="center">{$valor.Moneda}</td>
		<td class='tmDataTD' width="34" align="right">{$valor.nombre_bolsa}</td>
		<td class='tmDataTD' width="55" style="font-size:11px;" align="right" id="fcompra_{$valor.Id}">{$valor.FechaCmp}</td>
		<td class='tmDataTD' width="36" align="right" id="pcompra_{$valor.Id}">{$valor.PrecioCmp}</td>
		<td class='tmDataTD' width="29" align="center">{$valor.Edad}</td>
		<td class='tmDataTD' width="43" align="right" id="precio_{$valor.Id}" bgcolor="#DDE9F7">{$valor.Ultima}</td>
		<td class='tmDataTD' width="40" align="right" bgcolor="#DFDFCE">{$valor.Utilidad|string_format:"%.2f"}</td>
		<td class='tmDataTD' width="49" align="right">
			{if $valor.Mala}{$valor.Mala|string_format:"%.2f"}{else}&nbsp;{/if}
		</td>
		<td class='tmDataTD' align="right" width="39">
			{if $valor.Buena}{$valor.Buena|string_format:"%.2f"}{else}&nbsp;{/if}
		</td>
		<td class='tmDataTD' align="right" width="40">
			{if $valor.MBuena}{$valor.MBuena|string_format:"%.2f"}{else}&nbsp;{/if}
		</td>
		<td class='tmDataTD' width="39" align="right" {if $valor.Excelente}bgcolor="#D6F9A2"{/if}>
			{if $valor.Excelente}{$valor.Excelente|string_format:"%.2f"}{else}&nbsp;{/if}
		</td>
		<td class='tmDataTD' align="right" width="39">{$valor.Diaria|string_format:"%.2f"}</td>
		<td class='tmDataTD' align="right" width="39">{$valor.Mensual|string_format:"%.2f"}</td>
		<td class='tmDataTD' align="right" width="50">{$valor.Anual|string_format:"%.2f"}</td>
		<td class='tmDataTD' align="center" width="20">
			<img src='{$stRUTAS.images}vender.gif' title='Vender' border='0' onclick="getDatosPanelVenta('{$valor.Id}','Vender', {$valor.CompraId});" style="cursor:pointer;"/>
		</td>
		<td class='tmDataTD' width="18" align="center">
			<a href='{$stRUTAS.ren}ren.borrar.php?Id={$valor.CompraId}' onclick="return confirmLink(this,'Confirma la eliminación?')">
				<img src='{$stRUTAS.images}borrar.gif' title='Borrar' border='0'/>
			</a>
		</td>
	<td>
	<input type="hidden" id="nombre_bolsa_{$valor.Id}" value="{$valor.nombre_bolsa}">
	<input type="hidden" id="id_bolsa_{$valor.Id}" value="{$valor.id_bolsa}">
	</td>
	</tr>
{/foreach}
</table>
</div>
	<input type="hidden" id="fechacorta_hoy" value="{$stFECHACORTA_HOY}">
	<input type="hidden" id="ruta_accion_actual" value="{$stRUTAS.ren}">
	<input type="hidden" id="ruta_valores" value="{$stRUTAS.val}">
</td></tr></table>
{include file="pie.tpl.html"}