<ul id="ul1" class="draglist" style="display:'';">
	<li id="li1_1">
		<select id="sel1_1" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Sigla
	</li>
	<li id="li1_2">
		<select id="sel1_2" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rango de compra bueno
	</li>
	<li id="li1_3">
		<select id="sel1_3" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rango de compra muy bueno
	</li>
	<li id="li1_4">
		<select id="sel1_4" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rango de compra excelente
	</li>
	<li id="li1_5">
		<select id="sel1_5" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Liquidez
	</li>
	<li id="li1_6">
		<select id="sel1_6" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		&Uacute;ltima cotizaci&oacute;n
	</li>
	<li id="li1_7">
		<select id="sel1_7" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Dividendo / Acci&oacute;n
	</li>
	<li id="li1_8">
		<select id="sel1_8" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Ganancia / Acci&oacute;n
	</li>
	<li id="li1_9">
		<select id="sel1_9" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Patrimonio / Ganancia
	</li>
	<li id="li1_10">
		<select id="sel1_10" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rendimiento
	</li>
	<li id="li1_11">
		<select id="sel1_11" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Capitalizaci&oacute;n
	</li>
</ul>
<!-- et ------------------------------------------------------------ -->
<ul id="ul2" class="draglist" style="display:none;">
	<li id="li2_1">
		<select id="sel2_1" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Sigla
	</li>
	<li id="li2_2">
		<select id="sel2_2" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rango de compra bueno
	</li>
	<li id="li2_3">
		<select id="sel2_3" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rango de compra muy bueno
	</li>
	<li id="li2_4">
		<select id="sel2_4" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rango de compra excelente
	</li>
	<li id="li2_5">
		<select id="sel2_5" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Liquidez
	</li>
	<li id="li2_6">
		<select id="sel2_6" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		&Uacute;ltima cotizaci&oacute;n
	</li>
	<li id="li2_7">
		<select id="sel2_7" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Valor promedio / Precio
	</li>
	<li id="li3_8">
		<select id="sel3_8" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad mala
	</li>
	<li id="li3_9">
		<select id="sel3_9" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad buena
	</li>
	<li id="li3_10">
		<select id="sel3_10" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad muy buena
	</li>
	<li id="li3_11">
		<select id="sel3_11" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad excelente
	</li>
	<li id="li2_12">
		<select id="sel2_12" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Fecha de compra
	</li>
	<li id="li2_13">
		<select id="sel2_13" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Precio de compra
	</li>
	<li id="li2_14">
		<select id="sel2_14" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Edad
	</li>
	<li id="li1_15">
		<select id="sel1_15" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Dividendo / Acci&oacute;n
	</li>
	<li id="li1_16">
		<select id="sel1_16" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Ganancia / Acci&oacute;n
	</li>
	<li id="li1_17">
		<select id="sel1_17" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Patrimonio / Ganancia
	</li>
	<li id="li1_18">
		<select id="sel1_18" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rendimiento
	</li>
	<li id="li1_19">
		<select id="sel1_19" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Capitalizaci&oacute;n
	</li>
</ul>
<!-- et --><!-- et ------------------------------------------------------------ -->
<ul id="ul3" class="draglist" style="display:none;">
	<li id="li3_1">
		<select id="sel3_1" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Sigla
	</li>
	<li id="li3_2">
		<select id="sel3_2" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		&Uacute;ltima cotizaci&oacute;n
	</li>
	<li id="li3_3">
		<select id="sel3_3" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad mala
	</li>
	<li id="li3_4">
		<select id="sel3_4" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad buena
	</li>
	<li id="li3_5">
		<select id="sel3_5" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad muy buena
	</li>
	<li id="li3_6">
		<select id="sel3_6" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad excelente
	</li>
	<li id="li3_7">
		<select id="sel3_7" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Fecha de compra
	</li>
	<li id="li3_8">
		<select id="sel3_8" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Precio de compra
	</li>
	<li id="li3_9">
		<select id="sel3_9" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Edad
	</li>
	<li id="li3_10">
		<select id="sel3_10" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Porcentaje de utilidad
	</li>
	<li id="li1_11">
		<select id="sel1_11" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Dividendo / Acci&oacute;n
	</li>
	<li id="li1_12">
		<select id="sel1_12" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Ganancia / Acci&oacute;n
	</li>
	<li id="li1_13">
		<select id="sel1_13" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Patrimonio / Ganancia
	</li>
	<li id="li1_14">
		<select id="sel1_14" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rendimiento
	</li>
	<li id="li1_15">
		<select id="sel1_15" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Capitalizaci&oacute;n
	</li>
</ul>
<!-- et ------------------------------------------------------------ -->
<ul id="ul4" class="draglist" style="display:none;">
	<li id="li4_1">
		<select id="sel4_1" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Sigla
	</li>
	<li id="li4_2">
		<select id="sel4_2" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		&Uacute;ltima cotizaci&oacute;n
	</li>
	<li id="li4_3">
		<select id="sel4_3" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad mala
	</li>
	<li id="li4_4">
		<select id="sel4_4" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad buena
	</li>
	<li id="li4_5">
		<select id="sel4_5" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad muy buena
	</li>
	<li id="li4_6">
		<select id="sel4_6" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rentabilidad excelente
	</li>
	<li id="li4_7">
		<select id="sel4_7" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Fecha de compra
	</li>
	<li id="li4_8">
		<select id="sel4_8" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Precio de compra
	</li>
	<li id="li4_9">
		<select id="sel4_9" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Edad
	</li>
	<li id="li4_10">
		<select id="sel4_10" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Porcentaje de utilidad
	</li>
	<li id="li4_11">
		<select id="sel4_11" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Fecha de venta
	</li>
	<li id="li4_12">
		<select id="sel4_12" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Precio de venta
	</li>
	<li id="li4_13">
		<select id="sel4_13" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Dividendo / Acci&oacute;n
	</li>
	<li id="li4_14">
		<select id="sel4_14" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Ganancia / Acci&oacute;n
	</li>
	<li id="li4_15">
		<select id="sel4_15" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Patrimonio / Ganancia
	</li>
	<li id="li4_16">
		<select id="sel4_16" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Rendimiento
	</li>
	<li id="li4_17">
		<select id="sel4_17" class="tmSelect" style="margin-right:5px;">
			<option>ASC</option><option>DESC</option>
		</select>
		Capitalizaci&oacute;n
	</li>
</ul>