<link href="../cOmmOns/estilo/admin.css" rel="stylesheet" type="text/css" />

{include file="encabezado.tpl.html"}
	<br>
	<div align="center" ><strong>PRINCIPIOS DEL SISTEMA</strong>: </div>
	<div align="center" >
	  <p align="left"><strong>DEL DICHO POPULAR... : </strong></p>
	  <p align="left"><strong>1) - EL EXITO DE LA VENTA ESTA EN SABER COMPRAR BIEN.</strong></p>
	  <blockquote>
	    <p align="left" class="Estilo1">LOS RANGOS DE COMPRA A ESTABLECER LO SERAN CON CRITERIO DE PRUDENCIA DE ACUERDO AL MOMENTO EN QUE ESTA PASANDO LA ACCION, SIN PRETENDER COMPRAR AL MENOR VALOR HISTORICO, LO QUE HARA QUE TALVES NUNCA COMPRES.-</p>
      </blockquote>
	  <p align="left"><strong>2) - EL QUE JUEGA POR NECESIDAD PIERDE POR OBLIGACION.</strong></p>
	  <blockquote>
	    <p align="left" class="Estilo1">LOS FONDOS A APLICAR A ESTE DESTINO DEBEN SER FONDOS OCIOSOS SIN NECESIDAD DE DISPONERLOS EN EN FORMA Y TIEMPO DETERMINADO O PREESTABLECIODO.-</p>
      </blockquote>
	  <p align="left"><strong>3) - LA AMBICION MATA AL HOMBRE.</strong></p>
	  <blockquote>
	    <p align="left" class="Estilo1">FIJATE OBJETIVOS DE RENTABILIDAD RAZONABLE PARA VENDER Y EVALUA EL RENDIMIENTO PROYECTADO AL MES O AL AO, PARA TOMAR REAL DIMENSION DE LA RENTABILIDAD OBTENIDA AL MOMENTO DE TOMAR LA DECISION DE VENDER.- </p>
      </blockquote>
	  <p align="left"><strong>4) - MAS VALE PAJARO EN MANO QUE CIEN VOLANDO.</strong></p>
	  <blockquote>
	    <p align="left" class="Estilo1">NO PRETENDAS UN RENDIMIENTO EXAGERADO, PORQUE TALVES TENDRAS QUE ESPERAR DEMASIADO TIEMPO Y SE DILUIRA EL BENEFICIO.-</p>
      </blockquote>
	  <p align="left"><strong>5) - SI AL POCKER QUIERES GANAR NO TE CANSES DE PASAR</strong>.</p>
	  <blockquote>
	    <p align="left" class="Estilo1">NUNCA DEBES DESERPERAR POR SITUACIONES ADVERSAS QUE SE TE PRESENTEN, TEN PACIENCIA Y SABE ESPERAR EL MOMENTO PROPICIO CUANDO LAS CIRCUNSTANCIAS ESTEN DE TU LADO PARA ACTUAR.-</p>
      </blockquote>
	  <p align="right" class="Estilo3">AFECTUOSAMENTE EL AMINISTRADOR </p>
	</div>
{include file="pie.tpl.html"}
