<link href="../cOmmOns/estilo/admin.css" rel="stylesheet" type="text/css" />

{include file="encabezado.tpl.html"}
	<br>
	<div align="center" ><strong>OBJETIVOS DEL SISTEMA: </strong></div>
	<div align="center" >
	  <p align="left"><strong>OBJETIVOS:	</strong></p>
	  <p align="left">Contar con una herramienta de consulta que le permita de una sola 	
	vista conocer:	</p>
	  <ol class="Estilo1">
	    <li>
	      <div align="left">COTIZACION DE LOS VALORES Y TITULOS DE SU CARTERA AL MOMENTO.-</div>
	    </li>
	    </BR>
	    <li>
	      <div align="left"> VISUALIZAR OPORTUNIDAD DE COMPRA DE ACCIONES Y TITULOS DE ACUERDO A LOS PARAMETROS ESTABLECIDOS </div>
	    </li>
		</BR>
	    <li>
	      <div align="left">	ANALIZAR LA RENTABILIDAD DE LOS VALORES Y TITULOS COMPRADOS , EN CUALQUIER MOMENTO Y DE UNA SOLA VISTA.- </div>
	    </li>
		</BR>
	    <li>
	      <div align="left">	LLEVAR EL ANALISIS DE LAS OPERACIONES REALIZADAS EN FORMA INDIVIDUAL AUNQUE SE TRATE DE UN MISMO VALOR O TITULO, EN IGUAL O DISTINTAS FECHA DE COMPRA.- </div>
	    </li>
		</BR>
	    <li>
	      <div align="left">LLEVAR UN REGISTRO DE LAS OPERACIONES DE COMPRA-VENTA DE ACCIONES Y TITULOS, VISUALIZANDO LA RENTABILIDAD OBTENIDA Y SUS PROYECCIONES PARA DISTINTOS PERIODOS DE TIEMPO.-</div>
	    </li>
		</BR>
	    <li>
	      <div align="left"> 	VER LA ANTIGÜEDAD EN DIAS DE LA COMPRA DE LOS VALORES O TITULOS, DESDE EL DIA DE LA COMPRA A LA FECHA DE LA CONSULTA.-</div>
	    </li>
		</BR>
	    <li>
	      <div align="left"> 	POSIBILIDAD DE TENER BAJO ANALISIS UNA CANTIDAD ILIMITADA  DE VALORES O TITULOS.-</div>
	    </li>
		</BR>
	    <li>
	      <div align="left">MANTENER UN REGISTRO MADRE DE VALORES Y	TITULOS INALTERABLE POR COMPRAS O VENTAS REALIZADAS .- </div>
	    </li>
		</BR>
	    <li>
	      <div align="left">   ACTIVAR O DESASCTIVAR A NUESTRO CRITERIO LOS VALORES O TITULOS QUE RESOLVAMOS ESTARAN O NO BAJO ANALISIS DEL SISTEMA.- </div>
	    </li>
      </ol>
	  <p align="right" class="Estilo3">AFECTUOSAMENTE EL AMINISTRADOR </p>
	</div>
{include file="pie.tpl.html"}
