<link href="../cOmmOns/estilo/admin.css" rel="stylesheet" type="text/css" />

{include file="encabezado.tpl.html"}
	<br>
	<div align="center" ><strong><img src="../cOmmOns/images/Nuevos_Principios_-_Objetivos_en_COREL.jpg" width="750" height="116" /></strong>: </div>
	<div align="center" >
	  <p align="left"><strong class="PrincipiosTitulo">Del Dicho  Popular... </strong><br />
	    <br />
      <strong class="PrincipiosSubTitulo"><u>El &eacute;xito de la venta esta en saber comprar bien.</u></strong><br />
      <span class="PrincipiosNormal">Los  rangos de compra a establecer lo ser&aacute;n con criterio de prudencia de acuerdo al  momento en que esta pasando la acci&oacute;n, sin pretender comprar al menor valor  hist&oacute;rico, lo que har&aacute; que tal vez nunca compres.-</span><br />
      <br />
          <strong class="PrincipiosSubTitulo"><u>El  que juega por necesidad pierde por obligaci&oacute;n.</u></strong><br />
          <span class="PrincipiosNormal">Los fondos a aplicar a este destino deben  ser fondos ociosos sin necesidad de disponerlos en forma y tiempo determinado o  preestablecido.-</span><br />
          <br />
        <strong class="PrincipiosSubTitulo"><u>La  ambici&oacute;n mata al hombre.</u></strong><br />
        <span class="PrincipiosNormal">F&iacute;jate objetivos de rentabilidad razonable  para vender y eval&uacute;a el rendimiento proyectado al mes o al a&ntilde;o, para tomar real  dimensi&oacute;n de la rentabilidad obtenida al momento de tomar la decisi&oacute;n de  vender.- </span><br />
        <br />
        <strong class="PrincipiosSubTitulo"><u>Mas  vale p&aacute;jaro en mano que cien volando.</u></strong><br />
        <span class="PrincipiosNormal">No  pretendas un rendimiento exagerado, porque talvez tendr&aacute;s que esperar demasiado  tiempo y se diluir&aacute; el beneficio.-</span><br />
        <br />
        <span class="PrincipiosSubTitulo"><strong><u>Si  al p&oacute;cker quieres ganar no te canses de pasar</u></strong></span><strong><u>.</u></strong><br />
        <span class="PrincipiosNormal">Nunca debes desesperar por situaciones  adversas que se te presenten, ten paciencia y sabe esperar el momento propicio  cuando las circunstancias est&eacute;n de tu lado para actuar.-</span></p>
	  <p align="left" class="lnkIcox"><strong>&nbsp;</strong></p>
	  <div align="left" class="PrincipiosTitulo">
	    <div align="right" class="titulomio style2">AFECTUOSAMENTE EL  ADMINISTRADOR	  </div>
	  </div>
	  <p align="left">&nbsp;</p>
</div>
{include file="pie.tpl.html"}
