<link href="../cOmmOns/estilo/admin.css" rel="stylesheet" type="text/css" />


{include file="encabezado.tpl.html"}
	<br>
	<div align="center" ><strong><img src="../cOmmOns/images/cabezamanual.jpg" width="750" height="116" /></strong></div>
<div align="center" >
	  <p align="left">&nbsp;</p>
	  <p><a href="../cOmmOns/images/Manual de usuario.pdf"><img src="{$stRUTAS.images}adobe.gif" border="0"></a></p>
	  <p><a href="../cOmmOns/images/Manual de usuario.pdf">Descargue aqu&iacute; su Manual.</a></p>
	  <p>(Si no posee Adobe Acrobat Reader B&aacute;jelo<a href="http://www.adobe.com/es/products/reader/" target="_blank"> Aqu&iacute;</a>.) </p>
	  <p align="left">&nbsp;</p>
	</div>
{include file="pie.tpl.html"}
