<link href="../cOmmOns/estilo/admin.css" rel="stylesheet" type="text/css" />

{include file="encabezado.tpl.html"}
<br>
	<div align="center" ><strong><img src="../cOmmOns/images/cabezaobjetivos.jpg" width="750" height="116" /></strong></div>
<div align="center" >
	  <p align="left" class="PrincipiosTitulo">Contar con una herramienta de consulta que  le permita de una sola vista conocer</p>
	  <p align="left" class="PrincipiosNormal"><strong>1)&nbsp;&nbsp; &nbsp;&nbsp;Cotizaci&oacute;n de los valores y t&iacute;tulos de su  cartera al momento.</strong><br />
	    <br />
          <strong>2)&nbsp;&nbsp;&nbsp;&nbsp; Visualizar oportunidad  de compra de acciones y t&iacute;tulos de acuerdo a los par&aacute;metros establecidos.</strong><br />
          <br />
          <strong>3)&nbsp;&nbsp;&nbsp;&nbsp; Analizar la  rentabilidad de los valores y t&iacute;tulos comprados , en cualquier momento y de una  sola vista.</strong><br />
          <br />
          <strong>4)&nbsp;&nbsp;&nbsp;&nbsp; Llevar el an&aacute;lisis de  las operaciones realizadas en forma individual aunque se trate de un mismo  valor o t&iacute;tulo, en igual o distintas fecha de compra.</strong><br />
          <br />
          <strong>5)&nbsp;&nbsp;&nbsp;&nbsp; Llevar un registro de  las operaciones de compra-venta de acciones y t&iacute;tulos, visualizando la  rentabilidad obtenida y sus proyecciones para distintos periodos de tiempo.</strong><br />
          <br />
          <strong>6)&nbsp;&nbsp;&nbsp;&nbsp; Ver la antig&uuml;edad en  d&iacute;as de la compra de los valores o t&iacute;tulos, desde el d&iacute;a de la compra a la  fecha de la consulta.</strong><br />
          <br />
          <strong>7)&nbsp;&nbsp;&nbsp;&nbsp; Posibilidad de tener  bajo an&aacute;lisis una cantidad ilimitada de valores o t&iacute;tulos.</strong><br />
          <br />
          <strong>8)&nbsp;&nbsp;&nbsp;&nbsp; Mantener un registro  madre de valores y t&iacute;tulos inalterable por compras o ventas realizadas .</strong><br />
          <br />
          <strong>9)&nbsp;&nbsp;&nbsp;&nbsp; Activar o desactivar a  nuestro criterio los valores o t&iacute;tulos que resolvamos estar&aacute;n o no bajo  an&aacute;lisis del sistema.</strong><br />
          <br />
          <strong>10)&nbsp;&nbsp;  Anonimato en cuanto a  valores negociados y disponibilidad de fondos.</strong></p>
</div>
{include file="pie.tpl.html"}
