<link href="../cOmmOns/estilo/admin.css" rel="stylesheet" type="text/css" />

{include file="encabezado.tpl.html"}
<br>
	<div align="center" ><strong><img src="../cOmmOns/images/cabezademo.jpg" width="750" height="116" /></strong></div>
<div align="center" >
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Registro de Usuario.swf">Registro de Usuario</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Inicio-Ingreso al Sistema.swf">Inicio-Ingreso al Sistema</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Contacto con el Adm.swf">Contacto con el Administrador</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Listar Valores.swf">Listar Valores</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Carga de Valores.swf">Carga de Valores</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Analisisd de rentabilidad.swf">Analisis de Rentabilidad</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Analisis de Operaciones.swf">An&aacute;lisis de Operaciones</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Analisis de Compra.swf">An&aacute;lisis de Compra</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Rangos de Compra.swf">Rangos de Compra</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Rentabilidad esperada.swf">Rentabilidad Esperada</a></p>
	  <p ><a class="PrincipiosNormal" style="text-decoration:none" href="../cOmmOns/images/Divisores.swf">Divisores</a><br />
	  </p>
</div>
{include file="pie.tpl.html"}
